<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>验证成功</title>
    <link rel="stylesheet" type="text/css" href="/css/register/register4.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<link src="/layui/css/layui.css" rel="stylesheet"/>
<script src="/layui/layui.all.js"></script>
<body>
<div class="main">
    <header>&nbsp;
        <ul>
            <br/>
            <br/>
            <br/>
            <li>
                <span class="current-num">1</span>
                <span class="current">验证邮箱</span>
            </li>
            <img class="icon-arrow" src="/image/arrow.png"/>
            <li class="current2">
                <span class="current-num">2</span>
                <span class="current">填写用户名和密码</span>
            </li>
            <img class="icon-arrow" src="/image/arrow.png"/>
            <li class="c">
                <span class="current-num">3</span>
                <span class="current">验证成功</span>
            </li>
        </ul>
    </header>
    <div class="success">
            <span class="text">注册成功，请录入面部信息</span>
            <br/>
            <div class="recognize-face">
                <video id="video" width="500" height="400" class="hide" autoplay></video>
                <div class="allow-wrapper">
                    <img src="/image/allow-face.png">
                    <button class="allow-face-info" type="button">录入面部信息</button>
                </div>
                <canvas id="canvas" class="hide"></canvas>
                <button class="confim-face-info hide" type="button">确定录入</button>
            </div>
        <a class="next"  id="next" href="/userLogin">跳过此步，立即登录</a>
    </div>
</div>
</body>
<script th:inline="javascript">
    var mediaStream = null;
    var track = null;
    $(".allow-face-info").click(function () {
        $('#next').text('立即登录');
        $('.allow-wrapper').addClass('hide');
        $('#video').removeClass('hide');
        $('.confim-face-info').removeClass('hide');
        navigator.mediaDevices.getUserMedia({video: true})
            .then(function (stream) {
                // 旧的浏览器可能没有srcObject
                if ("srcObject" in video) {
                    video.srcObject = stream;
                } else {
                    // 防止再新的浏览器里使用它，应为它已经不再支持了
                    video.src = window.URL.createObjectURL(stream);
                }
                video.onloadedmetadata = function (e) {
                    video.play();
                };
            })
            .catch(function (err) {
                console.log(err.name + ": " + err.message);
            });
    });

    $('.confim-face-info')[0].addEventListener("click", function () {

        var canvans = document.getElementById("canvas");
        var context = canvans.getContext("2d");

       canvans.width = video.videoWidth;
        canvans.height = video.videoHeight;
        context.drawImage(video,0,0);
        var imgData = canvans.toDataURL();

        //获取图像在前端截取22位以后的字符串作为图像数据
        var img = imgData.substring(22);

        $.ajax({
                type: "post",
                url: "/api/register/add/face",
                data:{"img":img,"email":[[${#request.getParameter("email")}]]},
                success: function (data) {
                    if(data.code==200){
                        layer.alert("录入面部信息成功！",function () {
                            window.location.href="/userlogin";
                        });
                    }else{
                        layer.msg(data.msg);
                    }
                }
        });

    })
</script>
</html>
