.header-wrapper{
    background-color: #393D49;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
}
.header-icon{
    width: 21px;
    margin-right: 3px;
    transform: translateY(-3px);
}
