a{text-decoration:none;border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
a:hover{text-decoration:none;}
.hide{display: none}

.header-wrapper{
    background-color: #393D49;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
}
.header-nav{
    width: 1420px;
    margin: 0 auto;
    padding-left: 0;

}
.header-nav li{
    display: inline-block;

}
.header-nav li:hover{
    display: inline-block;
    cursor: pointer;

}
.nav-item{
    box-sizing: border-box;
    padding: 18px 20px;
    height: 40px;
    line-height: 60px;
    color: rgba(225,225,225,.7);
    font-size: 14px;
    letter-spacing: 1px;
}
.nav-item:hover{
    color: #fff;
}

.nav-hover-border:hover{
    border-bottom: #5FB878 5px solid;
}
.nav-item-active{
    border-bottom: #5FB878 5px solid;
}

.header-icon{
    width: 21px;
    margin-right: 3px;
    transform: translateY(-3px);
}

.header-search{
    width: 170px;
    line-height: 60px;
    position: relative;
    margin-right: 100px;
}
.search-input{
    border: 1px solid rgba(225,225,225,.5);
    height: 30px;
    background-color: rgba(225,225,225,0);
    width: 100%;
    border-radius: 15px;
    padding: 0 10px;
    color: rgba(225,225,225,.7);
    outline: none;
    transition: all .2s ease-in-out;
}
.search-input:hover, .search-input:focus{
    border: 1px solid rgba(225,225,225,1);
}
.enter-search{
    position: absolute;
    width: 18px;
    right: 10px;
    top: 20px;

}
.login-out{
margin-left: -17px;
}

@media screen and (max-width: 1440px) {
    .header-nav{
        width: 1220px;
    }
}
