<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<header th:fragment="copy">
    <link rel="stylesheet" href="/css/header.css"/>
<!--
    <script src="/js/header.js"></script>
-->
    <script th:inline="javascript">

        function search() {
            var keyword = $(".search-input").val();
            window.location.href ="/search?keyword="+keyword;
        }

           $("body").keydown(function() {
               if (event.keyCode == "13") {//keyCode=13是回车键
                   $('.enter-search').click();
               }
           });

    </script>
    <div class="header-wrapper">
        <ul class="header-nav">
            <li>
                <a href="/home" class="nav-item">
            <span class="header_title_text">
                CBC微生活
            </span>
                </a>
            </li>
            <li>
                <a href="/home" th:class="${#request.getRequestURI().contains('home')} ? 'nav-item nav-item-active nav-hover-border' : 'nav-item nav-hover-border'">
                    <img src="/image/header-home.png" class="header-icon"/>首页
                </a>
            </li>
            <li>
                <a href="" class="nav-item nav-hover-border">
                    <img src="/image/music.png" class="header-icon"/>音乐
                </a>
            </li>
            <li>
                <a href=""  class="nav-item nav-hover-border">
                    <img src="/image/book.png" class="header-icon"/>书籍
                </a>
            </li>
            <li>
                <a th:href="@{/video}" th:class="${#request.getRequestURI().contains('video')} ? 'nav-item nav-item-active nav-hover-border' : 'nav-item nav-hover-border'">
                    <img src="/image/movie.png" class="header-icon"/>电影
                </a>
            </li>
            <li style="float: right">
                <a href="/userLogin" th:unless="${#request.remoteUser}"  class="nav-item">
                    <img src="/image/login_user.png" class="header-icon"/>登录/注册
                </a>
                <a href="/logout"  class="nav-item" th:if="${#request.remoteUser}">
                    <img src="/image/login_user.png" class="header-icon" th:text="'您好,'+${#request.remoteUser}"/>
                </a>
            </li>
            <li style="float: right;cursor: default">
                <div class="header-search">
                    <input type="text" class="search-input" placeholder="搜索">
                    <img src="image/search.png" class="enter-search" th:onclick="'javascript:search();'">
                </div>
            </li>
        </ul>
    </div>

</header>

</html>
