<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<header th:fragment="copy">
    <link rel="stylesheet" href="/css/header.css"/>
    <script src="/js/header.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <div class="header-wrapper">
        <ul class="layui-nav" style="width: 1350px;margin: 0 auto" >
            <li class="layui-nav-item">
                <a href="/home">
            <span class="header_title_text">
                CBC微生活
            </span>
                </a>
            </li>
            <li class="layui-nav-item layui-this">
                <a href="/home" class="header_home_current ">
                    <img src="/image/header-home.png" class="header-icon"/>首页
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="">
                    <img src="/image/music.png" class="header-icon"/>音乐
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="" >
                    <img src="/image/book.png" class="header-icon"/>书籍
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="" >
                    <img src="/image/movie.png" class="header-icon"/>电影
                </a>
            </li>
            <li class="layui-nav-item" style="float: right">
                <a href="" >
                    <img src="/image/login_user.png" class="header-icon"/>登录/注册
                </a>
            </li>
        </ul>
    </div>
</header>
</html>
