<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="applicabledevice" content="mobile">
    <title>搜索页面</title>
    <link href="/css/search/search.css" rel="stylesheet"/>
</head>
<body>
<div class="search-head">
    <span class="logo-name">CBC微生活</span>
    <div class="search-box">
        <input class="search-input">
        <button class="search-btn">
            <img src="image/search-white.png" class="search-icon">搜索
        </button>
    </div>
</div>
<div class="search-keyword">
    <p class="margin-center">fsd</p>
</div>
<div class="margin-center">
    <div class="wrapper-main">
        <div class="search-item">
            <div>
                <a class="result-movie-pic">
                    <img src="image/example-movie.jpg">
                </a>
            </div>
            <h2 class="movie-name">
                <a>捉妖记</a>
            </h2>
            <div class="movie-info-list">
                <div class="movie-info">
                    <div class="info-item">
                        <span class="label">英文名：</span>
                        <span></span>
                    </div>
                    <div class="info-item">
                        <span class="label">导演：</span>
                        <span></span>
                    </div>
                </div>
                <div class="movie-info">
                    <span class="label">主演：</span>
                    <span>ds</span>
                </div>
                <div class="movie-info">
                    <span class="label">简介：</span>
                    <span>ds</span>
                </div>
            </div>
            <a class="play-video">
                <img src="image/play.png" class="play-icon">
                <span>观看</span>
            </a>

        </div>
    </div>
    <div class="wrapper-side">
        <div class="main-actor">
            <h2 class="title-aside">相关明星</h2>
            <div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>