<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="applicabledevice" content="mobile">
    <title>搜索页面</title>
    <link href="/css/search/search.css" rel="stylesheet"/>
</head>
<body>
<div class="search-head">
    <span class="logo-name">CBC微生活|搜索</span>
    <div class="search-box">
        <input class="search-input" th:value="${#request.getParameter('keyword')}">
        <button class="search-btn">
            <img src="image/search-white.png" class="search-icon">搜索
        </button>
    </div>
</div>
<div class="search-keyword">
<!--
    <p class="margin-center" th:text="${#request.getParameter('keyword')}"></p>
-->
</div>
<div class="margin-center">
    <div class="wrapper-main">
        <div class="search-item" th:each="video,iterStat:${videos}">
            <div>
                <a class="result-movie-pic" th:if="${video.episodes.isEmpty()}" th:href="@{/movie(url=${video.value})}">
                    <img src="image/example-movie.jpg" th:src="${video.image}">
                </a>
                <a class="result-movie-pic" th:unless="${video.episodes.isEmpty()}" th:href="@{/movie(url=${video.episodes.get(0).url})}">
                    <img src="image/example-movie.jpg" th:src="${video.image}">
                </a>
            </div>
            <h2 class="movie-name">
                <a th:text="${video.title}" th:if="${video.episodes.isEmpty()}" th:href="@{/movie(url=${video.value})}"></a>
                <a th:text="${video.title}" th:unless="${video.episodes.isEmpty()}" th:href="@{/movie(url=${video.episodes.get(0).url})}"></a>
            </h2>
            <div class="movie-info-list">
                <div class="movie-info">
        <!--            <div class="info-item">
                        <span class="label">英文名：</span>
                        <span></span>
                    </div>-->
                    <div class="info-item">
                        <span class="label" th:text="'导演：'+${video.director}">导演：</span>
                        <span></span>
                    </div>
                </div>
                <div class="movie-info">
                    <span class="label" th:text="'主演：'+ ${video.allStar}"></span>
                </div>
                <div class="movie-info">
                    <span class="label" th:text="'简介：'+${video.introduction}">简介：</span>
                </div>
            </div>
            <a class="play-video" th:href="@{/movie(url=${video.value})}">
                <img src="image/play.png" class="play-icon">
                <span>观看</span>
            </a>

        </div>
        <div class="search-item" th:if="${videos.isEmpty()}">
            未找到[[${#request.getParameter('keyword')}]]的记录!
        </div>

    </div>
    <div class="wrapper-side">
        <div class="main-actor">
            <h2 class="title-aside">相关明星</h2>
            <div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
                <div class="actor-info">
                    <img src="/image/actor.jpg">
                    <span class="actor-name">dsa</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">

    $(".search-btn").click(function () {
        var keyword = $(".search-input").val();
        window.location.href ="/search?keyword="+keyword;
    })

    $("body").keydown(function() {
         if (event.keyCode == "13") {//keyCode=13是回车键
             $('.search-btn').click();
         }
     });
</script>
</html>