<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="applicabledevice" content="mobile">
    <!--<link rel="stylesheet" href="/css/home/home.css"/>-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/video-play/video-play.css" rel="stylesheet"/>
    <script src="/js/jquery-3.0.0.js"></script>
    <script src="/js/danmu/danmu.js"></script>
</head>
<body>
<header th:include="header :: copy"></header>

<div class="main">
    <h2 class="title" th:text="${video.title}"></h2>
    <p>导演:<span th:text="${video.director}"></span><span th:text="${video.allStar}"></span></p>
    <p>内容简介：<span th:text="${video.introduction}"></span></p>
    <div class="video-main">
        <div class="video-player">
            <iframe src=""
                    class="video-frame"
                    frameborder="0"
                    width="100%"
                    height="100%"
                    scrolling="no"
                    allowfullscreen="true"
                    webkitallowfullscreen="true"
                    mozallowfullscreen="true"
                    th:src="${video.playUrl}"></iframe>
        </div>
        <!--视频弹幕-->
        <canvas class="danmu-onvideo" id="danmu-onvideo">
            <!--<span class="danmu">danmu1</span>-->
        </canvas>
        <!--弹幕评论区-->
        <div class="live-comment-body">
            <div class="live-comment-box">
                <div class="live-comment-tit">
                    <span class="live-comment-cont">弹幕内容</span>
                    <span class="live-comment-time">发送时间</span>
                </div>
                <ul class="live-comment-list">
                    <li>
                        <span><img class="user-head" src="/image/actor.jpg"></span>
                        <span class="live-comment-cont">第一条弹幕第第一条第一条弹幕第第一条第一条弹幕第第一条</span>
                        <span class="live-comment-time">04-21&nbsp;14:46</span>
                    </li>
                </ul>
            </div>
            <div>
                <textarea type="text" class="write-live-comment" placeholder="您可以在这里输入弹幕吐槽哦~" maxlength="31"></textarea>
                <button class="send-live-comment">发送</button>
        </div>
        </div>
    </div>
    <div class="episode-wrapper">
        <h3 class="title02">选集<span class="all-episodes">全xx集</span></h3>
        <div class="episode-main">
            <span class="episode">d</span>
            <span class="episode">d</span>
            <span class="episode">d</span>
            <span class="episode">d</span>
            <span class="episode">d</span>
            <span class="episode">d</span>
            <span class="episode">d</span>
            <span class="episode">d</span>
        </div>
    </div>
    <div th:if="${!video.stars.isEmpty()}">
        <h2 class="title02" th:text="'《'+${video.name}+'》'+' 主演'"></h2>
        <div class="main-actor">
            <div class="actor-info" th:each="star,indexStat:${video.stars}" th:if="${indexStat.index} < 4">
                <img src="/image/actor.jpg" th:src="${star.starImage}">
                <span class="actor-name" th:text="${star.starName}">主演1</span>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var user = [[${user}]];
    console.log(user.avatar);
    $('.send-live-comment').click(function(){
            var val=$('.write-live-comment').val();

            var $content=$('<li><span><img class="user-head" src="'+user.avatar+'"></span><span class="live-comment-cont">&nbsp;'+val+'</span><span class="live-comment-time">04-21&nbsp;14:46</span></li>');
            // var top=Math.random()*$(document.body).height()
            // $content.css('top',top);
            $('.live-comment-list').append($content);
            $('.write-live-comment').val('');
            //移动到最右侧，直接删除该元素
            // $content.animate({right:$(document.body).width()+100},8000,function(){
            //     $(this).remove();
            // });
    });

    // (function ($) {
    //     function Barrager(dom) {
    //         this.canvas = dom.get(0);
    //         this.ctx = this.canvas.getContext("2d");
    //         this.msgs = new Array(300);
    //         this.font = "14px 黑体";
    //         this.width = 1280;
    //         this.height = 720;
    //         this.ctx.font = "14px 黑体";
    //         this.colorArr = ["Olive", "OliveDrab", "Orange", "OrangeRed", "Orchid", "PaleGoldenRod", "PaleGreen", "PaleTurquoise", "PaleVioletRed", "PapayaWhip", "PeachPuff", "Peru", "Pink", "Plum", "PowderBlue", "Purple", "Red", "RosyBrown", "RoyalBlue", "SaddleBrown", "Salmon", "SandyBrown", "SeaGreen", "SeaShell", "Sienna", "Silver", "SkyBlue"];
    //         this.interval = "";
    //         this.draw = function () {
    //             if (this.interval != "") return;
    //             var _this = this;
    //             this.interval = setInterval(function () {
    //                 _this.ctx.clearRect(0, 0, 1280, 720);
    //                 _this.ctx.save();
    //                 for (var i = 0; i < _this.msgs.length; i++) {
    //                     if (!(_this.msgs[i] == null || _this.msgs[i] == "" || typeof(_this.msgs[i]) == "undefined")) {
    //                         if (_this.msgs[i].L == null || typeof(_this.msgs[i].L) == "undefined") {
    //                             _this.msgs[i].L = _this.width;
    //                             _this.msgs[i].T = parseInt(Math.random() * 700);
    //                             _this.msgs[i].S = parseInt(Math.random() * (10 - 4) + 4);
    //                             _this.msgs[i].C = _this.colorArr[Math.floor(Math.random() * _this.colorArr.length)];
    //                         } else {
    //                             if (_this.msgs[i].L < -200) {
    //                                 _this.msgs[i] = null;
    //                             } else {
    //                                 _this.msgs[i].L = parseInt(_this.msgs[i].L - _this.msgs[i].S);
    //                                 _this.ctx.fillStyle = _this.msgs[i].C;
    //                                 _this.ctx.fillText(_this.msgs[i].msg, _this.msgs[i].L, _this.msgs[i].T);
    //                                 _this.ctx.restore();
    //                             }
    //                         }
    //                     }
    //                 }
    //             }, 20);
    //         };
    //         //添加数据，数据格式[{"msg":"nihao"}]
    //         this.putMsg = function (datas) {
    //             for (var j = 0; j < datas.length; j++) {
    //                 for (var i = 0; i < this.msgs.length; i++) {
    //                     if (this.msgs[i] == null || this.msgs[i] == "" || typeof(this.msgs[i]) == "undefined") {
    //                         this.msgs[i] = datas[j];
    //                         break;
    //                     }
    //                 }
    //             }
    //             this.draw();
    //         };
    //         this.clear = function () {
    //             clearInterval(this.interval);
    //             this.interval = "";
    //             this.ctx.clearRect(0, 0, this.width, this.height);
    //             this.ctx.save();
    //             for (var i = 0; i < this.msgs.length; i++) {
    //                 this.msgs[i] = null;
    //             }
    //         };
    //     }
    //
    //     $.fn.barrager = function (para) {
    //         if (typeof(para) == "string") {
    //             try {
    //                 var api = $(this).data('barrager_api');
    //                 api[para].apply(api);
    //             } catch (e) {
    //             }
    //         } else if (typeof para == 'object' || !para) {
    //             $this = $(this);
    //             if ($this.data('barrager_api') != null && $this.data('barrager_api') != '') {
    //                 var api = $this.data('barrager_api');
    //                 api.putMsg(para);
    //             } else {
    //                 var api = new Barrager($this);
    //                 $this.data('barrager_api', api);
    //                 api.putMsg(para);
    //             }
    //         } else {
    //             $.error('Method ' + method + ' does not exist on jQuery.slidizle');
    //         }
    //         return this;
    //     }
    // })(jQuery);
    // $(function(){
    //     $('canvas').barrager([{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"这是我发的。。。"},{"msg":"这个插件真不错"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"}]);
    //     $('#qc').click(function(){
    //         $('canvas').barrager("clear");
    //     });
    //     $('#tj').click(function(){
    //         $('canvas').barrager([{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"这是我发的。。。"},{"msg":"这个插件真不错"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"}]);
    //     });
    //     setInterval(function(){
    //         $('canvas').barrager([{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"看着不错。。。。"},{"msg":"哈哈哈。。。。"},{"msg":"不错不错。。"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"},{"msg":"nihao"}]);
    //     },2000);
    // })

</script>
</body>
</html>
