.home-swiper{
    margin-top: 60px;
}
.home-swiper img{
    width: 100%;
}
.swiper-pagination-bullet{
    background-color: rgba(77,77,77,.8);
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.swiper-pagination-bullet-active{
    background-color: rgba(255,255,255,1);
}
.swiper-button-next, .swiper-button-prev{
    background-image: url("../../image/arrow.png");
    width: 45px;
    height: 30px;
}
.swiper-button-prev{
    transform: rotate(180deg);
}
.home-content{
    width: 1400px;
    margin: 0 auto;
}
.recommend-tit{
    border-bottom: #d81e06 2px solid;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-bottom: 6px;
}
.recommend-tit img{
    width: 50px;
}
.recommend-name{
    color: #d81e06;
    font-weight: bold;
    font-size: 18px;
}
.more{
    background-color: #d81e06;
    color: #fff;
    border: none;
    padding: 7px 14px;
    font-size: 16px;
    float: right;
    transform: translateY(10px);
    /*border-radius: 3px;*/
}
.refresh img{
    width: 17px;
    margin-right: 6px;
}
.home-recommend-list{
    width: 100%;
    white-space: nowrap;
    padding-left: 0;
}
.home-recommend-cont{
    display: inline-block;
    width: 223px;
    margin-left: 8px;
    border-radius: 10px;
    overflow: hidden;
}
.home-recommend-cont:hover{
    transform: translateY(-5px);
    box-shadow: 3px 3px 10px #888888;
    /*transition: margin-top 0.5s;*/
    /*-moz-transition: margin-top 0.5s;*/
    /*-webkit-transition: margin-top 0.5s;*/
    /*-o-transition: margin-top 0.5s;*/
}
.home-recommend-cont img{
    width: 100%;
}
.home-recommend-cont:nth-of-type(1){
    margin-left: 0;
}
.recommend-cont-tit{
    font-size: 14px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .home-recommend-cont{
        display: inline-block;
        width: 190px;
        margin-left: 8px;
    }
    .home-content{
        width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .home-content{
        width: 900px;
    }
    .home-recommend-cont{
        width: 140px;
    }
}
@media screen and (max-width: 750px) {
 /*   .home-content{
        width: 100%;
    }*/

    .home-content{
        width: 100%;
    }
}

